Requested: ChatGPT Work, intro to spiral process
Generated: 3 problems, the worst risk, 1 hypothetical experiment
Claimed: product will fail due to a lack of tutors or students
Verified: Nothing, no code to run, experiment hypothetical only
Not verified: Nothing, no code to run, experiment hypothetical only

Requested: CHatGPT Luna 6, to generate a Mermaid Diagram about our issue on Tutor_based_Matching
Generated: an image of diagram
Claimed: to keep track of all the thing our system keeps track of
Verified: Does keep track of some of our things
Not Verified: what input goes to where

Requested: CHatGPT Luna 6, to create a Mermaid Diagram based on our main code file for now
Generated: an image of a diagram
<img width="1154" height="1512" alt="mermaid-diagram" src="https://github.com/user-attachments/assets/51d45553-f6b6-4a72-8546-fb6cbe0f88d0" />

Claimed: keeps track of what each class fields and methods. showing if one class keep another  
Verified:
Not Verified:

Requested: CHatGPT Luna 6
Generated:
Claimed:
Verified:
Not Verified:

Requested: CHatGPT Luna 6
Generated:
Claimed:
Verified:
Not Verified:

Requested: CHatGPT Luna 6
Generated:
Claimed:
Verified:
Not Verified:

Requested: CHatGPT Luna 6
Generated:
Claimed:
Verified:
Not Verified:

Requested: CHatGPT Luna 6
Generated:
Claimed:
Verified:
Not Verified:
